*{
	margin: 0;
	padding: 0;
}

html,body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}

.background{
	width: 100%;
	height: 100%;
	background-image: url("img/hehe.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}

.nav{
	width: 350px;
	height: auto;
	position: absolute;
	top: 20%;
	left: 0;
}

.nav a{
	text-decoration: none;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: bold;
	height: 90px;
	margin: 3px 0;
	float: left;
	display: inline-block;
	background-color: #f9ebf2;
	color: #aa80ff;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}

a.active, .nav a:hover{
	background-color: #99ccff;
	color: white;
	width: 100%;
}

.a{
	width: 85%;
}
.b{
	width: 85%;
}
.c{
	width: 85%;
}
.d{
	width: 85%;
}
.e{
	width: 85%;
}

div.polaroid {
  width: 182%;
  background-color: white;
  margin-bottom: 5px;
  line-height: 12px;

}

div.container {
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  color: PaleVioletRed;
}

.content{
	position: absolute;
	width: 930px;
	min-height: 500px;
	height: auto;
	right: 0;
	top: 10%;
}

.aboutme{
	text-align: right;
	position: relative;
	left: 0;
	top: 10px;
	color: #4d0026;
	font-family: century gothic;
	padding: 0 60px;
	display: none;
}

.aboutme p{
	text-align: right;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 15px;
}

.center{
	color: hotpink;
	font-size: 19px;
	text-align: left;
	position: absolute;
	width: 60%;
	left: 60%;
	top: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	background: Bisque;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,.5);
	display: none;
}

h1{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 19px;
	color: MediumVioletRed;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.skillbox p{
	color: MediumOrchid;
	text-transform: uppercase;
	margin: 0 0 12px;
	padding: 0;
	font-weight: : bold;
	letter-spacing: 2px;
}

.skillbox p:nth-child(2)
{
	float: right;
	position: relative;
	top: -25px;
}

.skill{
	background: SlateBlue;
	padding: 5px;
	box-sizing: border-box;
	border: 2px solid MediumOrchid;
	border-radius: 1px;
}

.skill_level{
	background: MediumOrchid;
	width: 100%;
	height: 10px;
}

.experiences{
	font-size: 33px;
	text-align: right;
	position: relative;
	left: 0;
	top: 10px;
	color: #4d0026;
	font-family: century gothic;
	padding: 0 60px;
	display: none;
}